body {
    min-height: 100%;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#asag {
    width: 35px;
    height: 20px;
    background-color: black;
    float: left;
    color: white;
    text-align: center;
}

#asol {
    width: 70px;
    height: 20px;
    float: left;
    color: white;
    text-align: center;
    background-color: orange;
}
